body {
    text-align: center;
    background-color: lightgrey;
}
b {
    color: blue;
}
h2{
    font-size: 20px;
    color: lightgrey;
}
h2.error {
    color: red;
}
.block {
    background-color: grey;
    margin: auto;
    width: 400px;
    align-items: center;
    margin-top: 200px;
    padding: 20px;
    padding-bottom: 30px;
    padding-top: 0px;

}
form {
    width: 400px;
    text-align: center;
    border: 2px solid transparent;
}
input {
    width: 300px;
    text-align: center;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 200;
    border-radius: 3px;
    padding: 10px 0;
    transition: border .5s;
}
button[type=submit]{
    width: 300px;
    text-align: center;
    border: 2px solid transparent;
    background: lightgray;
    color: black;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    padding: 10px 0;
}
input[type=submit]:hover{
    background: aquamarine;
}

.alert_failure{
    width: 300px;
    background-color: lightcoral;
    margin: auto;
    color:darkred;
}

.alert_success{
    width: 300px;
    background-color: lightgreen;
    margin: auto;
    color:darkgreen;
}
